<!DOCTYPE HTML>
<!--
    Phantom by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <%- include('head'); %>
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">
        <!-- Header -->
        <%- include('header'); %>
        <!-- Main -->
            <div class="main guide">
                <div class="inner">
                    <h1>營隊簡介</h1>
                    <p>此營隊是由建國中學資訊社、成功高中電子計算機研習社、中山女高資訊研究社，以及景美女中電腦研究社四個社團聯合舉辦。活動內容不僅包含精彩的實作課程，更涵蓋了精心備置的許多活動及企業參訪，希望能讓許多孩子在這升高中的暑假，享受一場美好的資訊饗宴。經由這次暑訓，同學將能對資訊科技有進一步的了解，亦可於資訊能力方面有所增長。</p>
                </div>
                <div class="inner" style="padding-bottom: 2em;">
                    <a id="crew" style="opacity: 0;"></a>
                    <h1>團隊</h1>
                    <section id="infor">
                        <h2>建中資訊</h2>
                        <span class="image left"><img src="images/infor.jpg" alt=""></span>
                        <ul>
                            <li>學術交流：建中資訊社為本校的大社之一，因而聚集了各種資訊領域的專才。在社團課程及活動中，互相分享每個人的知識與想法，促使大家在各個方面皆有所涉獵，激盪出創新的成果。</li>
                            <li>社團活動：建中資訊社與全台近百個社團結為友社，並主要與楓資、景資、四校一起主辦活動。除了常態的聯合社課以外，還有定期的暑訓、迎新、秋遊、寒訓和春遊等大型活動。藉由活動不僅聯繫社內及友社間感情，更讓大家知道資訊社是個活潑好動的社團（絕對不是油宅）！</li>
                            <li>未來領航：建中資訊社在全台灣至全世界佈下資訊科技的人才，我們不只侷限於僅僅一個高中的社團，更放眼至全世界最頂尖的資訊社群。</li>
                        </ul>
                    </section>
                    <section id="ckcsc">
                        <h2>成功電研</h2>
                        <span class="image right"><img src="images/ckcsc.jpg" alt=""></span>
                        <p>
                            我們是第32屆成功高中電子計算機研習社，我們因為對資訊的熱愛而聚在了一起。社團裡的每個人都有各自的專長及興趣，使得這個社團多元且精彩。我們以程式語言課程和專題研究交換授課，程式語言以C++為主，其他語言為輔；專題研究會依照社員對資訊方面不同的興趣做分組，學期末會舉辦成果發表會，來呈現一年來的努力成果。期待我們能夠多與跟我們一樣對資訊相關方面有興趣的社團聯繫及交流，並能在交流的過程中學習且精進。
                        </p>
                    </section>
                    <section id="zsisc">
                        <h2>中山資研</h2>
                        <span class="image left"><img src="images/zsisc.jpg" alt=""></span>
                        <p>
                            中山資研在楓紅紛飛的中山女高，有著一群熱愛資訊的女孩。我們是中山女高資訊研究社，是由程式班及網路與美術班組成，程式班以簡單易懂的C++為主軸，而網路與美術班則有PhotoShop、Adobe Illustrator等繪圖軟體，音樂軟體FamiTracker，以及遊戲製作軟體RPG Maker。為了資訊而聚集的電資圈中，不難見到我們的足跡，也希望能夠在未來將這份對資訊的熱愛傳承下去。

                        </p>
                    </section>
                    <section id="cmioc">
                        <h2>景美電資</h2>
                        <span class="image right"><img src="images/cmioc.jpg" alt=""></span>
                        <p>
                            大家好，我們是景美女中電腦資訊社第26屆。黃衫，椰林，是大家對景美女中的印象。而我們，是一群對資訊抱有熱忱景美學生。我們將景女電資社分為程式班及網頁設計美術程式班，社員學習rocessing，C ++，提升自身的程式學術力。而網頁設計美術班，簡稱網美班，則以製作遊戲的Unity，RPG Maker 和網頁設計的HTML為主要學習課程。電資社的我們，因為熱愛資訊而聚集在一起。希望將電腦資訊的學術力及對資訊的熱忱繼續傳承下去，成為我們日後的競爭力。
                        </p>
                    </section>
                </div>
            </div>
        <!-- Footer --> 
        <%- include('footer'); %>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
    </body>
</html>